.home{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.container{
    z-index: 1;
}
.card{
    background-color: rgb(14, 16, 16);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    border: 2px solid #0ad4d4;
    margin-bottom: 20px;
}
.card img{
    position: relative;
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    border: 2px solid #0ad4d4;
}
h5{
    color:rgb(0, 255, 225);
    text-decoration: underline;
}
.certify{
    position: relative;
    top: 70px;
}
footer{
    position: relative;
    top: 400px;
}
@media(max-width:412px){
    .home{
        display: block;
        grid-row-gap: 20px;
        margin-left: 50px;
    }
    footer{
        margin-top: 200px;
        position: fixed;
        top: 2500px;
    }
}
body {
    font-size: 16px;
}

@media (max-width: 1024px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 10px;
    }
}
